.custom-container {
    width: 100%;
    padding: 0 20px;
    overflow: hidden; /* Oculta cualquier parte de las imágenes que se salga del contenedor */
  }
  
  .custom-swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .custom-swiper-wrapper {
    display: flex;
    animation: moveRightToLeft 20s linear infinite; /* Movimiento automático */
  }
  
  .custom-swiper-slide {
    flex-shrink: 0;
    width: auto; /* Las imágenes mantienen su tamaño original */
    height: 80px; /* Ajusta la altura según lo que necesites */
    object-fit: contain;
    margin-right: 30px; /* Espacio entre los logos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera para hacerlo más elegante */
  }
  
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(100%); /* Empieza fuera de la pantalla desde la derecha */
    }
    100% {
      transform: translateX(-100%); /* Mueve las imágenes completamente fuera por la izquierda */
    }
  }
  
  .custom-swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .custom-swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
  }
  